AIChat.json
{
  "name": "Chat with local LLMs using n8n and Ollama",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "2f974506-7b6b-4bea-9a26-bd40a6ab4681",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        544,
        400
      ],
      "webhookId": "ebdeba3f-6b4f-49f3-ba0a-8253dd226161",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "phi3:latest",
        "options": {}
      },
      "id": "661d9fc9-227e-4d3a-b0e1-0f1c9de43097",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        840,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "2iWgG7a0qRiYNjJo",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with local LLMs using n8n and Ollama\nThis n8n workflow allows you to seamlessly interact with your self-hosted Large Language Models (LLMs) through a user-friendly chat interface. By connecting to Ollama, a powerful tool for managing local LLMs, you can send prompts and receive AI-generated responses directly within n8n.\n\n### How it works\n1. When chat message received: Captures the user's input from the chat interface.\n2. Chat LLM Chain: Sends the input to the Ollama server and receives the AI-generated response.\n3. Delivers the LLM's response back to the chat interface.\n\n### Set up steps\n* Make sure Ollama is installed and running on your machine before executing this workflow.\n* Edit the Ollama address if different from the default.\n",
        "height": 473,
        "width": 485
      },
      "id": "880b66fe-eac9-4251-a650-b061dac86496",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Ollama setup\n* Connect to your local Ollama, usually on http://localhost:11434\n* If running in Docker, make sure that the n8n container has access to the host's network in order to connect to Ollama. You can do this by passing `--net=host` option when starting the n8n Docker container",
        "height": 258,
        "width": 368,
        "color": 6
      },
      "id": "2f40988f-72ef-4851-8591-ce2f35881ccf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Rôle : Tu es l'expert en communication du \"Garage ESGI\". Ta mission est d'analyser les demandes clients et de formuler une double réponse structurée.\n\nContexte de la demande client :\n{{ $json.chatInput }}\n\nDirectives de contenu :\n\nreponse_client : Message poli, pro et rassurant. Utilise le \"nous\". Si c'est un devis/RDV, confirme une étude sous 24h. Si la demande est hors périmètre (pas d'achat, location ou réparation de voiture), explique poliment que nous ne gérons pas ce service. Demande également les coordonnées du client pour pouvoir le recontacter.\n\nnote_metier : Résumé technique pour l'atelier (prestation, urgence, pièces). Si la demande est hors sujet voiture, réponds exclusivement : \"NOT_PERTINENT\".\n\nContraintes de formatage (STRICT) :\n\nRéponds UNIQUEMENT avec l'objet JSON.\n\nINTERDICTION d'utiliser des balises Markdown (ex: pas de ```json).\n\nLe message doit impérativement commencer par { et finir par }.\n\nAucun texte explicatif avant ou après.\n\nExemple de format attendu :\n{\n\"reponse_client\": \"Bonjour, nous avons bien reçu votre demande concernant la Tesla...\",\n\"note_metier\": \"Révision périodique, Urgence faible, aucun consommable spécifique.\"\n}"
            }
          ]
        }
      },
      "id": "a3d80c6a-be0b-4c14-af4e-a304bafa763c",
      "name": "Chat LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        768,
        400
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.text;\n\ntry {\n  // Extrait uniquement le contenu entre les accolades { ... }\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (!jsonMatch) throw new Error(\"Aucun objet JSON trouvé\");\n  \n  const cleanJson = jsonMatch[0];\n  const parsedData = JSON.parse(cleanJson);\n\n  return {\n    reponse_client: parsedData.reponse_client,\n    note_metier: parsedData.note_metier\n  };\n} catch (error) {\n  return {\n    error: \"Erreur de parsing critique\",\n    message: error.message,\n    raw_received: rawText\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ],
      "id": "c8dd0b5b-e2cf-4f2f-9827-d32ae93d1071",
      "name": "Format LLM Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a366a40c-a20e-44d2-93c2-d3d7ac93f9ab",
              "name": "note_metier",
              "value": "={{ $json.note_metier }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        496
      ],
      "id": "2dd8d38c-0d67-4b2f-904d-7e6b2c523f14",
      "name": "Mail equipe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb4b87c8-c3c3-413c-a7f0-ec16b150b08d",
              "name": "reponse_client",
              "value": "={{ $json.reponse_client }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        304
      ],
      "id": "9aa2ec9c-3a6f-4ace-95e3-2c308a7efbc9",
      "name": "Mail client"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        400
      ],
      "id": "50875b08-5a42-44ef-a3c5-0b98718eaa7a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat LLM Chain": {
      "main": [
        [
          {
            "node": "Format LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LLM Response": {
      "main": [
        [
          {
            "node": "Mail client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail equipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail client": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail equipe": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2a880c9f-b39c-41cd-a1c8-d2ad1ac6b2ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af536b8f0367b8c3fe2728891cd65f5a891a3fa060b7bdeedc5e4299ba849e25"
  },
  "id": "TAYDoP6KDuRgNFGu",
  "tags": []
}